= render 'questions/question', question: @question

h3 = 'Answers:'
= render 'answers/answer'

h2 Create New Answer
= render 'answers/form', answer: @answer

= link_to 'Back to all questions', questions_path
