= render 'questions/question', question: @question

h3 = 'Answers:'
= turbo_frame_tag Answer.new do
  - if @question.answers.present?
    = render @question.answers

h2 Create New Answer
= render 'answers/form', answer: @answer

= link_to 'Back to all questions', questions_path
