- if @question.answers.present?
  p = answer.body
  - if answer.author == current_user && user_signed_in?
    = link_to "Delete", answer_path(answer.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
